<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fanqie.homework.job.mapper.BJobImgMapper">
    <select id="selectJobImglist" resultType="cn.fanqie.homework.job.entity.BJobImg">
    SELECT
        b_job_img.job_img_id,
        b_job_img.job_id,
        b_job_img.job_img_src
        FROM
        b_job_img
    WHERE b_job_img.job_id = #{jobId}
    </select>
</mapper>
