<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fanqie.homework.inform.mapper.BInformMapper">

    <!--首页顶部查询所有的消息不包括公众号-->
    <select id="selectinfolist" resultType="cn.fanqie.homework.inform.Vo.informVo">
        SELECT
        b_inform.inform_id,
        b_inform.publish_user_id,
        b_inform.inform_user_id,
        b_inform.inform_title,
        b_inform.inform_date,
        b_inform.inform_state,
        b_inform.inform_type,
        b_inform.inform_team_id,
        b_team.team_name,
        publish_user.user_name AS publish_user_name,
        inform_user.user_name AS inform_user_name
        FROM
        b_inform
        LEFT JOIN b_team ON b_team.team_id = b_inform.inform_team_id
        INNER JOIN b_user AS publish_user ON publish_user.user_id = b_inform.publish_user_id
        INNER JOIN b_user AS inform_user ON inform_user.user_id = b_inform.inform_user_id
        WHERE
        b_inform.inform_type NOT IN (2)
        order by b_inform.inform_date desc limit 3
    </select>

    <!--首页查询系统最新消息-->
    <select id="selectinfoSysone" resultType="cn.fanqie.homework.inform.Vo.informVo">
        SELECT
        b_inform.inform_id,
        b_inform.publish_user_id,
        b_inform.inform_user_id,
        b_inform.inform_title,
        b_inform.inform_content,
        b_inform.inform_date,
        b_inform.inform_state,
        b_inform.inform_type,
        b_inform.inform_team_id,
        b_inform.inform_look_if,
        b_team.team_name,
        publish_user.user_name AS publish_user_name,
        inform_user.user_name AS inform_user_name
        FROM
        b_inform
        LEFT JOIN b_team ON b_team.team_id = b_inform.inform_team_id
        INNER JOIN b_user AS publish_user ON publish_user.user_id = b_inform.publish_user_id
        INNER JOIN b_user AS inform_user ON inform_user.user_id = b_inform.inform_user_id
        WHERE
        b_inform.inform_type = 2 AND
        b_inform.inform_user_id = #{userId}
        ORDER BY
        b_inform.inform_date DESC limit 1
    </select>
</mapper>
